<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kamel.board.feed.mapper.FeedMapper">

    <select id="findByBoardId"
            parameterType="Long"
            resultType="Feed">
        SELECT *
        FROM board_feed
        WHERE board_id = #{boardId}
    </select>

    <select id="findAllByBoardIds"
            resultType="Feed">
        SELECT *
        FROM board_feed
        WHERE board_id IN
        <foreach item="boardId" collection="boardIds" open="(" separator="," close=")">
            #{boardId}
        </foreach>
    </select>
</mapper>
